.line-status[data-line-id="bakerloo"] .colour {
  background-color: rgba(174, 97, 24, 0.75);
}

.line-status[data-line-id="central"] .colour {
  background-color: rgba(228, 31, 31, 0.75);
}

.line-status[data-line-id="circle"] .colour {
  background-color: rgba(248, 212, 45, 0.75);
}

.line-status[data-line-id="district"] .colour {
  background-color: rgba(0, 114, 41, 0.75);
}

.line-status[data-line-id="hammersmithandcity"] .colour {
  background-color: rgba(232, 153, 168, 0.75);
}

.line-status[data-line-id="jubilee"] .colour {
  background-color: rgba(104, 110, 114, 0.75);
}

.line-status[data-line-id="metropolitan"] .colour {
  background-color: rgba(137, 50, 103, 0.75);
}

.line-status[data-line-id="northern"] .colour {
  background-color: rgba(17, 17, 17, 0.75);
}

.line-status[data-line-id="piccadilly"] .colour {
  background-color: rgba(4, 80, 161, 0.75);
}

.line-status[data-line-id="victoria"] .colour {
  background-color: rgba(0, 159, 224, 0.75);
}

.line-status[data-line-id="waterlooandcity"] .colour {
  background-color: rgba(112, 195, 206, 0.75);
}

.line-status[data-line-id="dlr"] .colour {
  background-color: rgba(0, 187, 180, 0.75);
}

.line-status[data-line-id="overground"] .colour {
  background-color: rgba(248, 108, 0, 0.75);
}